.seccionBiocosmetica1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: seccionBiocosmetica1;
    h1{
      margin-top: 10px;
      font-size: 30px;
      text-decoration: underline;
    }
    p{
      max-width: 600px;
      
    }
    h2{
      margin-top: 10px;
      text-decoration: underline;
      @extend %estiloTexto
    }
    h3{
      margin-top: 10px;
      text-decoration: underline;
      @extend %estiloTexto
    }
    .card{
      @extend %estiloCard;
      img{
        width: 15rem;
      }
    }
  }