.sectionCatalogo1 {
    grid-area: sectionCatalogo1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 244, 183);
  
    img {
      padding: 40px;
      height: 180px;
      margin-top: 50px;
  
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  
  .rellenoCatalogo {
    display: flex;
  
    p {
      padding: 2px;
      margin: -7px 52px 55px 0px;
      font-size: 20px;
    }
  
    h4 {
      margin: -4px 66px 1px 2px;
      padding: 2px;
      transition: all 0.8s;
  
      &:hover {
        transform: scale(2);
      }
    }
  }