.seccionBiocosmetica2 {
  display: flex;
  grid-area: seccionBiocosmetica2;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #faf4b7;
  width: 100%;
  flex-wrap: wrap;
  min-height: 50vh;
    .card{
      @extend %estiloCard;
      margin-top: 20px;
      @extend %estiloImagenes;
      img{
        width: 15rem;
      }
    }
    }    
  .footer {
    width: 100%;
  }