.sectionPreparados1 {
    grid-area: sectionPreparados1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 23px 112px -76px 194px;
  }
  
  .montecito {
    text-decoration: underline;
    margin-top: 3vh;
    margin-bottom: 10px;
  }