.sectionPreparados3 {
    grid-area: sectionPreparados3;
    display: flex;
    margin: 15px -266px 1px -35px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    .editorTexto {
      border: solid 1px;
      border-radius: 3px;
      overflow: scroll;
      width: 300px;
      height: 250px;
      padding: 5px;
      margin: 1px 10px 20px 10px;
    }
    @media (max-width: 955px){
      display: flex;
      margin: 15px -266px 1px 0px;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      .editorTexto {
        border: solid 1px;
        border-radius: 3px;
        overflow: scroll;
        width: 280px;
        height: 250px;
        padding: 3px;
        margin: 1px 1px 20px 1px;
      }

    }
  }